.wrapper{
  width: 100%;
  position: relative;
}
.dark_bg_part{
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0 0 12px 12px;
  width: 100%;
  position: relative;
  margin: 0 0 70px;
}
.header{
  min-width: 1320px;
  padding: 50px 5px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-between;
  &_contacts{
    justify-self: end;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo_img{
    grid-area: 1/1/3/2;
    align-self: center;
  }
  .facebook{
    transition: 500ms;
    &:hover{
      fill: #24A3FF;
    }
  }
  .lng_box{
    position: relative;
    margin-right: 18px;
    &:after{
      content: '';
      position: absolute;
      right: -12px;
      top: 10px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #E6E6F0;
    }
  }
  .lng{
    cursor: pointer;
    position: relative;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    color: white;
    transition: 500ms;
    &:hover{
      color: white;
    }
  }
  .selected_lng{
    width: 33px;
    height: 25px;
    padding: 5px 7px;
    background: #F0145A;
    border-radius: 8px;
  }
  .address{
    position: relative;
    line-height: 20px;
    color: white;
    font-style: normal;
    margin-right: 18px;
    &:after{
      content: '';
      position: absolute;
      right: -12px;
      top: 7px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #E6E6F0;
    }
  }
  .tel{
    position: relative;
    color: white;
    font-weight: 700;
    line-height: 20px;
    text-decoration-line: none;
    margin-right: 18px;
    &:after{
      content: '';
      position: absolute;
      right: -12px;
      top: 7px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #E6E6F0;
    }
  }
  @media screen and (min-width: 1920px){
    min-width: 1600px;
  }
}
.home_page{
  background: url("../img/Symbol.png") 50% 50% no-repeat;
  background-size: contain;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 60px;
  position: relative;
}
.home_title{
  position: absolute;
  top: 45%;
  left: 30%;
  font-size: 38px;
  line-height: 46px;
  color: white;
  font-weight: 700;
  margin:0 0 120px;
}
.scroll_btn{
  background: none;
  width: 42px;
  height: 42px;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 50%);
  border-radius: 50%;
  position: relative;
  margin-bottom: 30px;
  &:after{
    content: '';
    position: absolute;
    top: 12px;
    left: 13px;
    width: 9px;
    height: 9px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(45deg);
  }
  &:hover{
    border-color: #F0145A;
    &:after{
      border-color: #F0145A;
    }
  }
}


