* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font: 16px/26px 'Montserrat', sans-serif;
}
img {
    border-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    transition: 500ms;
    &:hover {
        text-decoration: underline;
        color: #f0145a;
    }
    &:active {
        background-color: transparent;
    }
}

form,
fieldset {
    border-style: none;
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    font: 100% Arial, sans-serif;
    outline: none;
    vertical-align: middle;
}

input[type='submit'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
